@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHez08SdX3WzR8lME9qUDev6kzHOU6lLkquyn47RE_q7m88SKB5FGAs5p7JYd8_YoUe33S3oRdV2B143kqa6xZoEjMUeFPKqAwrfUar4fyhr95SKiesWgpozsbjSFIIh-rGOMIcId-IV56t8jrWFSLZ8CizxU7SpKRKTHwn9cmmF9OPb0cS54Tt5x_x0TNsH4U-cM_wgminBrfNTnMpkdz1ZjmKRw9lrd0Y86-2KXL9x1TFmfwUsgYJSNVxu76gyrO1zo_hoYdf5xz_YzRPOiEqgkFPkoZdctCjpWY9gVkBWXbga8PBIVOo0WgfRw_4QpZla9_RnOmU7vSMWR2qDvU7Uiz1Swx0tp-zVMHeykenDL-QgCee7siLtHkfwrmSX_eeA5czUHWfU5y8VelfdLSggjpozBZE1NrokmLTxTxk8JqH_WOlyfv2AR-ik2NyGbJ5CzVvQzIRgrYnxZILG1Jc3bzNwKapvhze-1_oQ71G4GBOFC-Brh9cUxJ9gb-rKn42voFU4bqVmBskvPKGO0fJDDkmGZ1CYL4VLseXldKV5FRHXuOMN-Pe5-HEpXDVnpg_7ZxjBOJqukfqgPEsXA8BYgBOhmDa0CD8bwKiQNzluA57KK3fdOuav0fGD8W-urKZdmSlYsu0U2zqOZDH4KiVRN8tO2jRppjbJijHTPGNJTa3ePw-xry1D65Bh0HEaxwdiliivHdSgPo6yRRFhpVh4rR6s9spp15dd7oLGEPjRlJekjo2aAm2V_4pXwyY3BWwrVUmX_QmszQ0Hqj00PskYADhDXyGRWi48fItEYZztBPW7CeujBF2FmyOQbl9hKBtt0iWBd3xuHn7nCTUYo3urBckdt3W6ZaIq9BNyMTYPj697C2V1uOp-Rkli9XlcFToy5d5LomLhTjNaYa_qo9OHycR3MdyRDj2LVRrCwn4ESC-1fynjGq6jkg=w300-h653-s-no?authuser=1);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #fff;
        margin: 70px;
        padding: 20px;
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}
