@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (max-width: 407px){
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }      
    body{
    font-family: 'Poppins', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHecbjH4GltiAdN7zMEwMpRaE2_aIBSmXHO2USo4AB09USiF6y3csSwaJO54rmC1B14itHf0TlJfY-5dePzdblUKu9HCYACJDZmAw2aFe8oeJDK02gEz1I2KvmF4DCspmDqCzLgyXsx48Oz-UKY4BlyAT6Mp-9GL-0OLPmH-DLMDkA-hBV2amuPXh7u0WciQOmrr6k0GdT4kJsekZQXIa6JdNiC7du2sBxU2kvAhgofBhFIprLDnwtU69gI1f_JGrLkpQUkLrWjdp2T8Wk93eg1gTUbRBr6AzeQogN58qQZEHCwaGNK4YUaf4J09gekRILp1m_mwY32pmcQN6I4v49WTL0rLt-j4lMzqOf2AIIwvvRvMJx-PqN5MTWfG2yrA23lOjQ38SJAM9ogjHHMwwkSO8ZYzqqnmfnIjDoeyt0YNS1-MpfgKTzX9WpWp29Y0kS0JZRJoeJld8kZwhRhE_wD1KSfAdDBP8j5evquBt9l3Rsse_MgImwYUKUvOdxpW5XWy__eLeSn612_l7Vv4hIPVYzwFGEUj3ID07BCNe1LPYJtuzZZqC-oStgAvPEKoRKvCkaa9PzZZOEkA2tjIlIX6fCsFVZuZ8uLxLPSvHSwJeJ4wxhA98HZ5noJMsWWXJ5mpImEKtZ-k1iHSQ7xlRqAukTjVl6iJJc5QXzX5jmrZHlSGLVoIguufXqs_UcV8BkW_5jd6KzJsNBs7VBv5w-um4ihoFJ7kNOXXujKfbaoyW3tEYUqOiOAxdZC5fYU02v8QL6CNjwvOX1L0wKbWXUrQ1KpYyF0a1_wjcdzIw43ChhYIIMjhXJ7tlNDUHTwAa_fqDur3M_cWPcfwCT3oxrGG2DkmQzSVJNo22yDQ8s_oK-3_l8vdDNXAvH6MA2fleg-SHwi2kDZyS_TMyNMYUy5Jr49gr-ETfTBrpkizd9jNWd6LF1Q=w300-h653-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .Container{
        background: #fff;
        margin: 70px;
        padding: 20px;
    }
    .Panel img{
        width: 70px;
        border-radius: 100px;
    }
}